name: Rust CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install ALSA dependencies
      run: sudo apt-get update && sudo apt-get install -y libasound2-dev

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Build with TTS feature
      run: cargo build --verbose --features tts

    - name: Run tests with TTS feature
      run: cargo test --verbose --no-default-features
